<%- include('../partials/header', { title: 'Workout Details' }) %>
<h1>Workout Details</h1>
<h2><%= workout.name %></h2>
<p>Duration: <%= workout.duration %> minutes</p>
<p>Bodyweight: <%= workout.bodyweight %> lb</p>
<p>Notes: <%= workout.notes %></p>

<% workout.exercises.forEach((exercise) => { %>
  <h3><%= exercise.name %></h3>
  <table>
    <caption><%= exercise.name %> Sets</caption>
    <tr>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weight (lb)</th>
      <th>Notes</th>
    </tr>
    <% exercise.sets.forEach((set, index) => { %>
      <tr>
        <td><%= set %></td>
        <td><%= exercise.reps[index] %></td>
        <td><%= exercise.weight[index] %></td>
        <td><%= exercise.notes[index] %></td>
      </tr>
    <% }); %>
  </table>
<% }); %>

<%- include('../partials/footer', { year: new Date().getFullYear() }) %>



